In [1]:
import pandas as pd
air25_data = pd.read_csv('cleaned_air4thai.csv')
air25_data

             DATETIMEDATA  PM25  WS  TEMP  RH  WD stationID
0     2023-12-01 00:00:00  32.6   1    30  53  49       02t
1     2023-12-01 01:00:00  40.5   1    30  55  51       02t
2     2023-12-01 02:00:00  33.8   0    29  57   5       02t
3     2023-12-01 03:00:00  33.7   0    29  60  30       02t
4     2023-12-01 04:00:00  36.0   1    28  62  19       02t
...                   ...   ...  ..   ...  ..  ..       ...
8539  2024-02-27 19:00:00  44.8   0     0   1   0       08t
8540  2024-02-27 20:00:00  39.9   0     0   1   0       08t
8541  2024-02-27 21:00:00  38.9   0     0   1   0       08t
8542  2024-02-27 22:00:00  39.0   0     0   1   0       08t
8543  2024-02-27 23:00:00  37.8   0     0   1   0       08t

[8544 rows x 7 columns]

In [12]:
import pandas as pd
from pycaret.regression import *

# Load cleaned data
file_path = 'cleaned_air4thai.csv'
data = pd.read_csv(file_path)

# Remove rows with missing values in the target column
data = data.dropna(subset=['PM25'])

# Setup
regression_setup = setup(data, target='PM25', session_id=123, fold_strategy='timeseries', fold=3, data_split_shuffle=False, fold_shuffle=False)

# Compare models
best_model = compare_models()

# Create DataFrame for predicting PM25 7 days ahead
predict_data = data.copy()
predict_data['DATETIMEDATA'] = pd.to_datetime(predict_data['DATETIMEDATA']) + pd.DateOffset(days=7)

# Predict PM25 7 days ahead
predictions = predict_model(best_model, data=predict_data)
predictions

# Extract and display predicted labels
predicted_labels = predictions['Label']
print(predictions.columns)
print("-----------------------------")
print(predicted_labels)

KeyError: 'Label'